body{
  font-family: 'Questrial', sans-serif;

}

td.text-right{
  font-weight: bold;
  width: 50%;
}

td.text.left{
  width: 50%;
}

body {
  /* background: url("img/weather.jpg") no-repeat center fixed;
  background-size: cover; */
  background: url("img/weather.jpg") center center no-repeat;
  background-size: cover;
  
  height: 100vh;
  
  justify-content: center;
  align-items: center;
}
.jumbotron{
 
  background-color: rgba(255,255,255, 0.8);
 
}